@import "/../myProject/src/colors.scss";
@import "/../myProject/src/styles.scss";

.carousel-caption {
  position: absolute;
  top: 28vh;
  h1 {
    color: white !important;
    font-size: 44px;
  }
  h2 {
    color: white !important;
    font-size: 34px;
  }
}

button {
  font-size: 20px !important;
}

@media(max-width:760px){
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 14px;
  }
}
