@import "/../myProject/src/colors.scss";

.blue-block {
  background-color: #e2f8ff;
}

.green-block {
  background-color: #f5f9eb;
}

h4 {
  font-weight: 600 !important;
}

button {
  width: 187px;
}

img{
  max-width: 125px;
  width: 100%;
  height: auto;
}
