<div class="container-fluid px-0">
  <div class="row">
    <div class="col-12 text-center block-name">
      <h2 class="primary-green">Be Part of a Growing International Community</h2>
      <p>One of the challenges in networking is everybody thinks it's making cold calls to strangers. Actually, it's the
        people <br> who already have strong trust relationships with you</p>
    </div>
  </div>
  <div class="row justify-content-evenly user-comment">
    <div class="col-md-4 col-12">
      <div class="container pt-3 pb-4 white-block">
        <div class="col-12">
          <h5 class="primary-green mb-1">One of the Best</h5>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod taempor incididunt ut labore et
            dolore <br> magna aliqua.</span>
        </div>
      </div>
      <div class="bottom-triangle left"></div>
      <div class="user-info left d-flex align-items-center mt-md-4">
        <img src="/assets/david.png" class="user-photo me-3">
        <span class="user-name">David Beckham</span>
      </div>
    </div>
    <div class="col-md-4 col-12 mt-md-0 mt-5 pt-md-0 pt-5">
      <div class="container pt-3 pb-4 white-block">
        <div class="col-12">
          <h5 class="primary-green mb-1">One of the Best</h5>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod taempor incididunt ut labore et
            dolore <br> magna aliqua.</span>
        </div>
      </div>
      <div class="bottom-triangle right"></div>
      <div class="user-info right d-flex align-items-center mt-md-4">
        <img src="/assets/mask.png" class="user-photo me-3">
        <span class="user-name">David Beckham</span>
      </div>
  
    </div>
  </div>
</div>