<div class="container my-md-5">
  <div class="row">
    <div class="col-12 text-center pt-md-5">
      <img src="/assets/aboutUs-img.png" class="aboutUsImg py-3">
    </div>
    <div class="col-12 text-center mx-auto pb-5">
      <h4 class="text-uppercase py-4">
        Our work is the presentation <br> of our capabilities.
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna <br> aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      </p>
      <p>
        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse <br> cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
</div>