<div class="container my-5">
  <div class="row mb-4">
    <div class="col-md-9 col-12 text-md-start text-center px-md-0">
      <h3 class="mb-3">Featured Projects</h3>
      <p>Brief details of new and popular projects. To view full listings, you will be required to
        sign up and become a member.</p>
    </div>
    <div class="col-md-3 col-12 text-md-end text-center px-md-0 align-self-center">
      <button class="btn transperent-btn square py-3">Become a member</button>
    </div>
  </div>
  <div class="row justify-content-md-between justify-content-center">
    <div class="card mt-md-0 mt-3">
      <div class="top-left">
        <img src="/assets/card-triangle.png">
        <div class="triangle-text text-uppercase">New</div>
      </div>
      <img class="card-img-top" src="/assets/card-img-1.png" alt="Card image cap">
      <div class="bottom-right px-2 py-1">
        From GBP 3600
      </div>
      <div class="card-body">
        <h6>Ontario Tower , LONDON</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row progress-description">
          <div class="col-6 text-start pt-3">10% Funded</div>
          <div class="col-6 text-end pt-3">8 Days left</div>
        </div>
        <div class="divider"></div>
        <div class="w-100 text-end mt-3">
          <button class="btn details-link">See Project Details <img src="/assets/link-icon.svg" class="ms-3"></ button>
        </div>
      </div>
    </div>
    <div class="card mt-md-0 mt-3">
      <div class="top-left">
        <img src="/assets/card-triangle.png">
        <div class="triangle-text text-uppercase">New</div>
      </div>
      <img class="card-img-top" src="/assets/card-img-2.png" alt="Card image cap">
      <div class="bottom-right px-2 py-1">
        From GBP 3600
      </div>
      <div class="card-body">
        <h6>Ontario Tower , LONDON</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row progress-description">
          <div class="col-6 text-start pt-3">60% Funded</div>
          <div class="col-6 text-end pt-3">8 Days left</div>
        </div>
        <div class="divider"></div>
        <div class="w-100 text-end mt-3">
          <button class="btn details-link">See Project Details <img src="/assets/link-icon.svg" class="ms-3"></ button>
        </div>
      </div>
    </div>
    <div class="card mt-md-0 mt-3">
      <div class="top-left">
        <img src="/assets/card-triangle.png">
        <div class="triangle-text text-uppercase">New</div>
      </div>
      <img class="card-img-top" src="/assets/card-img-1.png" alt="Card image cap">
      <div class="bottom-right px-2 py-1">
        From GBP 3600
      </div>
      <div class="card-body">
        <h6>Ontario Tower , LONDON</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row progress-description">
          <div class="col-6 text-start pt-3">10% Funded</div>
          <div class="col-6 text-end pt-3">8 Days left</div>
        </div>
        <div class="divider"></div>
        <div class="w-100 text-end mt-3">
          <button class="btn details-link">See Project Details <img src="/assets/link-icon.svg" class="ms-3"></ button>
        </div>
      </div>
    </div>
  </div>
</div>