button{
    max-width: 187px;
    width: 100%;
}

.card{
    padding: 0 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    max-width: 315px;
    width: 100%;
}