@import "/../myProject/src/colors.scss";

.circle {
  color: white;
  background-color: $gray;
  border-radius: 50px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  padding-top: 2px;
}

h3 {
  margin-bottom: 0px;
}

h4{
  color: $primary-green;
}

p{
  font-size: 17px;
}

.stretched-tabs {
  max-width: 1200px;
}

::ng-deep.mat-tab-label{
  margin-left: 8px !important;
  margin-right: 8px !important;
  margin-bottom: 15px !important;
}

// ::ng-deep.mat-tab-labels{
//   justify-content: space-between !important;
// }

::ng-deep.mat-tab-label-active{
  border-bottom: 1.2px solid rgba($color: $primary-green, $alpha: 0.5);
  margin-bottom: 15px !important;
  .circle{
    background-color: $primary-green;
  }
}